# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

bin

.idea/

.DS_Store

bin/

src/main/java/me/zalo/oa/billing/admin/servers/Main.java

conf/development.config.ini

docs/plans/
.claude/
